html, body {
  max-width: 100%;
  overflow-x: hidden;
}


body {
    background: radial-gradient(#e5e5e5, #ffffff, #e5e5e5);
}

.card {

  width: 20rem;
}

.card:hover {
    
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;

}

.card-body {
  padding-top: 3rem !important;
  padding-bottom: 0 !important;
  padding-left: 1rem !important;
  padding-right: 0 !important;
}

.card-text {
  font-size: .9rem;
  padding: 0.4rem 1.9rem;
  margin-left: -2em;
}

.container-fluid {
  padding-top: 6rem;
}

img {
    max-width: 100%;
    max-height: 100%;
    
}

.star {
  float: right;
}

/* .star input {

  display: none;
} */

.star label {
  /* display: block; */
  cursor: pointer;
  width: 50px;
  background:black;
}

.star label:before {
  content: '\f005';
}