html, body {
  max-width: 100%;
  overflow-x: hidden;
}


body {
    background: radial-gradient(#f9f7cf, #ffffff, #f9f7cf);
}

.card {

  width: 20rem;
}

.card:hover {
    
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;

}

.card-body {
  padding-top: 3rem !important;
  padding-bottom: 0 !important;
  padding-left: 1rem !important;
  padding-right: 0 !important;
}

.card-text {
  font-size: .9rem;
  padding: 0.4rem 1.9rem;
  margin-left: -2em;
}

.container-fluid {
  padding-top: 6rem;
}

img {
    max-width: 100%;
    max-height: 100%;
    
}

.modal {
  z-index: auto;
}

 .parent {
  position: relative;
  z-index: 1;
} 

.star {
  position: absolute;
  top: 6px;
  right: 11px;
  z-index: 2;
  size: large;
  cursor: pointer;
} 

.star label {
  cursor: pointer;
  width: 25px;
}

.star label:before {
  font-family: "fontAwesome";
  content: '\f005';
}

.star label:after {
  font-family: "fontAwesome";
  content: '\f005';
  color: #f2dcbb;
  left: 0;
  position: absolute;
  top: 1px;
  transition: .5s;
  opacity: 0;
}

.star label:hover:after,
.star input:checked label:after
{
opacity: 1;
}

.modal-title {
  font-size: small;
}

h5 {
  font-size: 14px !important;
}

.product-col {
  margin-left: -1em;
}

.product-col-right {
  margin-right: -8em !important;
}

.modal-dialog {
  width: 25% !important;
  border-radius: 0 !important;
}