
html, body {
margin: 0; 
height: 100%; 
/* overflow: hidden; */
max-width: 100%;
}


.App {
  color: grey;
  position:absolute !important;
  left: 100px !important;
  top: 25px !important;
  font-size: large !important;
}

.product-card {

  height: 20rem;
  position: relative !important;
  width: 14rem;
  /* padding: 8px !important; */
  
}

.card-title {
  font-size: 13px !important;
  margin: 0 !important;
}

.product-card:hover {
    
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.card-img-top {
  width: 100% !important;
  height: 15vw !important;
  object-fit: cover !important;
}


.card-text {
  font-size: .9rem;
  padding: 0 !important;
  margin-left: 0 !important;
  position: relative !important;
}

.card-body {
  padding: 0 !important;
}

.container-fluid {
  padding-top: 3rem;
  height: 400px;
  width: 1400px !important;
}

.img {
    max-width: 100%;
    max-height: 100%;
    
}

.modal {
  z-index: auto;
  /* position: absolute !important; */
  /* top: 10px;
  right: 100px; */
  bottom: 50px !important;
  left: 50px !important;
}

 .parent {
  position: relative;
} 

.star {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 2;
  font-size: 20px;
  cursor: pointer;
} 

.stars-div {
  padding: 0 !important;
  margin: 0 !important;
}

.star label {
  cursor: pointer;
  width: 25px;
}

.star label:before {
  font-family: "fontAwesome";
  content: '\f005';
}

.star label:after {
  font-family: "fontAwesome";
  content: '\f005';
  color: #b60303;
  left: 0;
  position: absolute;
  top: 1px;
  transition: .5s;
  opacity: 0;
}

.star label:hover:after,
.star input:checked label:after
{
opacity: 1;
}

.modal-title {
  font-size: small;
}

h5 {
  font-size: 14px !important;
}

/* .product-col {
  margin-left: -2em;
} */

.product-col-right {
  text-align: right !important; 
}

.modal-dialog {
  width: 30% !important;
  border-radius: 0 !important;
  height: 100px;
}

.test {
  margin-left: .5rem !important;
  text-align: center !important;
}

.mine {
  /* margin-right: 2.5rem !important; */
  bottom: 0 !important;
}

.texts {
  text-align: center !important;
  font-size: 13px !important;
}

.right-emojis {
  /* text-align: right !important; */
  /* float: right !important; */
  margin-right: 6rem !important;
}

.star-footer {
  position: absolute !important;
  margin-left: 0 !important;
}

/* .padding-0 {
  padding-right:30px !important;
  padding-left:30px !important;
  width: 50px !important;
} */

.my-closet {
  color: grey;
  position:absolute !important;
  left: 100px !important;
  top: 350px !important;
  font-size: large !important;
}

.fa-minus-circle{
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 2;
  font-size: 20px;
  cursor: pointer;
  font-size: large;
  color:#c30707;
}

.fa-minus-circle:hover{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.test-box{
  height: 250px !important;
  width: 250px !important;
  background-color: blue;
}
.test-boxx{
  height: 250px !important;
  width: 250px !important;
  background-color: rgb(255, 0, 21);
}

/* .col {
  margin: 5px !important;
} */

.col-md-auto {
  margin-right: -10px !important;
  margin-left: -10px !important;
  margin-top: 10px !important;
}

.carousel-control-next-icon {
  height: 300px !important; 
  /* margin-top: -50px !important; */
  /* background-color: rgb(255, 0, 0) !important; */
}

.carousel-control-next{
  width: 100px;
  /* background-color: yellow !important; */
  margin-right: -100px !important;
}