
html, body {
margin: 0; 
height: 100%; 
overflow: hidden;
max-width: 100%;
}


.App {
  color: grey;
  position:absolute !important;
  left: 100px !important;
  top: 25px !important;
  font-size: large !important;
}

.card {

  width: 12rem;
  height: 18rem;
  position: relative !important;
}

.card-title {
  font-size: 13px !important;
  margin: 0 !important;
}

.card:hover {
    
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.card-img-top {
  width: 100% !important;
  height: 15vw !important;
  object-fit: cover !important;
}


.card-text {
  font-size: .9rem;
  padding: 0 !important;
  margin-left: 0 !important;
  position: relative !important;
}

.card-body {
  padding: 0 !important;
}

.container-fluid {
  padding-top: 3rem;
}

img {
    max-width: 100%;
    max-height: 100%;
    
}

.modal {
  z-index: auto;
  /* position: absolute !important; */
  /* top: 10px;
  right: 100px; */
  bottom: 50px !important;
  left: 50px !important;
}

 .parent {
  position: relative;
} 

.star {
  position: absolute;
  top: 6px;
  right: 16px;
  z-index: 2;
  size: large;
  cursor: pointer;
} 

.stars-div {
  padding: 0 !important;
  margin: 0 !important;
}

.star label {
  cursor: pointer;
  width: 25px;
}

.star label:before {
  font-family: "fontAwesome";
  content: '\f005';
}

.star label:after {
  font-family: "fontAwesome";
  content: '\f005';
  color: #f2dcbb;
  left: 0;
  position: absolute;
  top: 1px;
  transition: .5s;
  opacity: 0;
}

.star label:hover:after,
.star input:checked label:after
{
opacity: 1;
}

.modal-title {
  font-size: small;
}

h5 {
  font-size: 14px !important;
}

/* .product-col {
  margin-left: -2em;
} */

.product-col-right {
  text-align: right !important; 
}

.modal-dialog {
  width: 30% !important;
  border-radius: 0 !important;
  height: 100px;
}

.test {
  margin-left: .5rem !important;
  text-align: center !important;
}

.mine {
  /* margin-right: 2.5rem !important; */
  bottom: 0 !important;
}

.texts {
  text-align: center !important;
  font-size: 13px !important;
}

.right-emojis {
  /* text-align: right !important; */
  /* float: right !important; */
  margin-right: 6rem !important;
}

.star-footer {
  position: absolute !important;
  margin-left: 0 !important;
}

.padding-0 {
  padding-right:30px !important;
  padding-left:30px !important;
  width: 50px !important;
}

.my-closet {
  color: grey;
  position:absolute !important;
  left: 100px !important;
  top: 350px !important;
  font-size: large !important;
}